@import '../../styles/_fonts.scss';

.errorBox {
    color: $dark-pink;
    font-weight: 500;
    margin: 10px 0 0 0;
}

.footer {
    display: flex;
    flex-direction: column;
}


.reqFields {
    color: black;
    font-size: 12px;
}

form {
    font-size: 12px;
}

form div {
    margin: 0 0 10px 0;
}

.star {
    color: $dark-pink;
}
