@import '../../styles/_fonts.scss';

.dotActive > button {
    width: 15px;
    height: 15px;
    background-color: $light-grey;
    margin: 4px;
    border-radius: 50%;
}

.galleryHeader {
    margin: 50px 0 0 0;
    padding-top: 100px;
}

.galleryHeader > h2 {
    font-size: 48px;
    text-align: center;
    padding: 0 80px 0 80px;
    font-weight: 800;
    letter-spacing: 19.2px;
    line-height: 2.4;
    border-bottom: 3px solid $dark-pink;
    padding: 0 0 30px 0;
    display: inline;
}

.gallerySlider {
    padding: 50px 0 0 0;
}

#gallerySliderBox {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

#gallerySliderBox > * {
    margin: 10px;
}

.gallerySliderSlides {
    width: 70%;
}

@import '../../styles/_mobile.scss';